################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/create--microfrontend-shell-app/config
/.vs/slnx.sqlite
node_modules/
/.vs
