
//app Primary Colors
$pc-app-accent1:rgba(40,40,40,.95);
$pc-app-accent2: #F5E6E6;
$pc-app-white: #FFFFFF;

//app Secondary Colors
$sc-v-lt-accent1: #887FAE;
$sc-v-dk-accent1: #524B71;

//app Neutral Colors
$nc-black: #000000;
$nc-v-dk-gray: #333333;
$nc-dk-gray: #464646;
$nc-mid-gray: #666666;
$nc-border-gray: #7D7D7D;
$nc-lt-gray: #CCCCCC;
$nc-v-lt-gray: #E3E3E3;
$nc-pale-gray: #F1F1F1;
$nc-v-pale-gray: #FAFAFA;

//Other generic colors
$error: #CB0000;
$warning: #F79225;
$success: #80BEC4;
$info: #FFCB33;

$link: #2F80ED;
$link--red: #E21B18;

$white: #fff;

$black: #000;
$black-6: #666;

$gray: #ccc;
$green: #2db92d;
$red: #ED1C24;
