
html,body{
    height: 100%;
    margin: 0;
}

p{
    margin: 0;
}

*{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin:0;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

*:focus {
    outline: none;
}

.nav-link{
    color: white !important;
}
.list-group-item-action{
    background:rgba(40,40,40,.95) !important;
}